CompileFlags:
  CompilationDatabase: ./cmake
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wshadow
    - -Wconversion
    - -Wsign-conversion
    - -Wfloat-equal
    - -Wundef
    - -Wpointer-arith
    - -Wcast-align
    - -Wformat=2
    - -Wnull-dereference
    - -Wdouble-promotion
    - -Wimplicit-fallthrough
    - -Wuninitialized
    - -Wunused
    - -Wno-unused-parameter
    - -Wno-missing-field-initializers
    - -g
    - -fno-omit-frame-pointer
    - -march=native

---
If:
  PathMatch: .*\.c
CompileFlags:
  Add: [-std=c23]

---
If:
  PathMatch: .*\.cpp
CompileFlags:
  Add: [-std=c++23]

---
Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - readability-*
      - portability-*
      - clang-analyzer-*
    Remove:
      - readability-magic-numbers

Index:
  Background: Build

Completion:
  AllScopes: Yes
  HeaderInsertion: IWYU

Hover:
  ShowAKA: Yes

InlayHints:
  Enabled: Yes
