# Testing
.pytest_cache/

# pycache modules
__pycache__/

# IDE signatures
.DS_Store
.vscode

# Notebooks and check points
.ipynb_checkpoints/
notebooks/

# Coverage
.coverage
.coveragerc
htmlcov/

# Wheels
dist/

# Scripts
examples.py

# Virtual eviroments
.venv

# Cargo crate
Cargo.lock

# Target (compiled rust modules and releases)
ncore/rust/target/
