# Python artifacts
__pycache__/
.pytest_cache/

# Environments and IDEs
.venv/
.vscode/
.DS_Store

# Notebooks and experimentation
.ipynb_checkpoints/
notebooks/

# Coverage and Testing
.coverage
.coveragerc
htmlcov/

# Build and Distribution
dist/

# Scripts
examples.py
